.counter-container{
  border-top: 5px black solid;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

.start-sub-category-form{
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 3px solid black;
}

td{
  display: flex;
  flex-direction: row;
  max-height: 500px;
}

.instances-container{
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;
  max-width: 500px;
  flex-grow: 1;
}
.main-instance{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Start Components */
.start-input-forms-container{
  max-width: 60vw;
  border: 1px black solid;
  margin: auto;
}

/* Info boxes and buttons */

.start-info-button{
  margin-bottom: 5px;
  min-width: 5vw;
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow .5s;

}
.start-info-button:hover{
  box-shadow: 1px 1px 10px royalblue;
}
.start-info{
  max-width: 60vw;
  border: 3px solid black;
  margin: auto;
}

/* Animations */

.display-enter{
  transform: translateX(-100%);
}

.display-enter.display-enter-active{
  transform: translateX(0);
  transition: transform .5s ease-in;
}

.display-appear{
  opacity: 0;
}

.display-appear.display-appear-active{
  opacity: 1;
  transition: opacity .5s;
}

.display-leave{
  transform: translateX(0)
}
.display-leave.display-leave-active{
  transform: translateX(100%);
  transition: transform .5s;
}
